@mixin centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mediaQuery($width: 48rem) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin btn($bg) {
  padding: 0.5rem 1rem;
  color: $clr-dark;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 15px;
  display: inline-block;
  background: $bg;
  box-shadow: 1px 1px 1px #000, 
  3px 3px 5px $clr-base; 
  &:hover {
    color: $clr-light;
    background: darken($bg, 76);
  }
}

@mixin grid ($cols: 1, $gap: 1rem){
  display: grid;
  grid-template-columns: repeat($cols,1fr);
  grid-gap:$gap;
} 